# Copy this file to .env and fill in the values.

# Flask Configuration
FLASK_ENV=development
FLASK_SECRET_KEY="a-super-secret-key-that-you-should-change"

# GCP Configuration
GCP_PROJECT_ID=""
GCP_BUCKET_NAME=""
GCP_SERVICE_ACCOUNT_KEY_PATH=""

# Optional: for structured logging
# LOG_FORMATTER=json
